#canvas {
    border: 1px solid black;
    max-width: 100%;
    cursor: pointer;
}
#bufferBar {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 5px;
  background: red;
  width: 0%; /* Initial width */
}

/* Additional classes to show/hide the buffering */
.buffering-visible {
  display: block;
}

.buffering-hidden {
  display: none;
}
